.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

#logo{
    display: flex;
    align-items: center;
    width: 15vw;
    margin-left: 15vw;
}
.duck{
    margin-left: 1vw;
    margin-right: 1vw;
    widows: 3vw;
}
.logoline{
    width: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.logoline1{
    font-size: 12px;
    color: gray;
}
.logoline2{
    font-size: 24px;
    font-weight: bold;
}
#upline{
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

